body {
    background-color: white;
}

audio {
    display: none;
}

#canvas1 {
    background: white;
    border: 10px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 39px 3px rgba(255,194,227,1);
    border-radius: 3%;
}

#playerImage, #backgroundImage, #enemy, #tile {
    display: none;
}